@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
}

.inputbox{
    width: 368px;
    margin-top: 40px !important;
}

.reglink{
    font-family: 'Nunito', sans-serif;
    font-size: 13.34px;
    font-weight: 400;
    margin-top: 25px;
}
.reglink a{
    color: #EA6C00;
    font-weight: 700;
}

.logo-img{
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

.reginput{
    position: relative;
}

.eyeicon{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.eyelogin{
    position: absolute;
    top: 290px;
    right: 520px;

}

.searchBox::placeholder{
    padding-left: 20px;
    text-align: left;
}

.underline{
    border-bottom: 1px solid #65676B;
    width: 550px;
    margin-top: 16px;
    margin-left: 10px;
}

.rightSiteUnderline{
    border-bottom: 1px solid #65676B;
    width: 320px;
    margin-top: 15px;
}